{% for user in users %}
<tr onclick="editUser({{user.id}})" style="cursor:pointer">
    <td>{{user.lastName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.email}}</td>
    <td>
        {% for role in user.groups %}
            {{ role.name }}
        {% endfor %}
    </td>
</tr>
{% endfor%}
