<div class="col-sm-3 nav">
    <ul>
        {% if isCoordinator %}
            <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'PendingRecords'}) }}">Pending Records</a></h4></li>
            <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'StudentHistory'}) }}">Student History</a></h4></li>
        {% endif %}
        {% if isStudent %}
            <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'RecordSummary'}) }}">Record Summary</a></h4></li>
            <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'NewRecord'}) }}">Enter New Record</a></h4></li>
            <li><h4><a href="{{ path('default', {'controller' : 'Record', 'action' : 'RecordHistory'}) }}">History</a></h4></li>
        {% endif %}
        {% if isAdmin %}
            <li><h4><a href="{{ path('default', {'controller' : 'Admin', 'action' : 'UploadStudents'}) }}">Upload Students</a></h4></li>
            <li><h4><a href="{{ path('default', {'controller' : 'Admin', 'action' : 'CreateClub'}) }}">Create Club</a></h4></li>
        {% endif %}
        {% if isClubSponsor %}
            <li><h4><a href="{{ path('default', {'controller' : 'Club', 'action' : 'ManageClub'}) }}">Manage Club</a></h4></li>
            <li><h4><a href="{{ path('default', {'controller' : 'Club', 'action' : 'AddClubMembers'}) }}">Add Club Members</a></h4></li>
        {% endif %}
            <li><h4><a href="{{ path('default', {'controller' : 'Profile', 'action' : 'ChangePassword'}) }}/change-password">Change Password</a></h4></li>
    </ul>
</div>
