{% extends 'MaclayServiceBundle:Profile:profile.html.twig' %}

{% block pagename %}
    Coordinator Profile - Pending Records
{% endblock %}

{% block usercontent %}
    <div id="popup">
    </div>
    <h4>Pending Records: </h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Last Name</td>
                <td>First Name</td>
                <td>Grade</td>
                <td>Start Date</td>
                <td>Activity</td>
                <td>Number of Hours</td>
                <td>Sponsoring Organization</td>
                <td>Supervisor</td>
                <td>Has Attachment?</td>
                <td>Approval</td>
            </tr>
        </thead>
        <tbody class="table-striped">
            {% for row in records %}
            <tr>
                <td onclick="recordInfo({{row.id}});">{{row.student.lastName}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.student.firstName}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.student.studentinfo.grade}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.dateFrom|date("m/d/Y")}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.activity}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.numHours}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.organization}}</td>
                <td onclick="recordInfo({{row.id}});">{{row.supervisor}}</td>
                {% if (row.attachmentFileName != null) %}
                    <td onclick="recordInfo({{row.id}});">Yes</td>
                {% elseif (row.emailIsSent == true) %}
                    <td onclick="recordInfo({{row.id}});">Email Sent.</td>
                {% elseif row.enteredByClub != null %}
                    <td onclick="recordInfo({{row.id}});">{{row.enteredByClub.clubName}}</td>
                {% else %}
                    <td id="{{row.id}}-attachment"><button class="email" value={{row.id}}>Email</button></td>
                {% endif %}
                <td id="{{row.id}}-approval"><button class="approve">Approve</button><button class="deny">Deny</button><input class="record_id" type="hidden" value="{{row.id}}" ></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
    
{% block endscripts %}
    
    <script>
        function recordInfo(id){
            var options = [];
            options.url = "{{ path('recordpartial', {'id' : 'IdHere', 'isCoordinator' : 'true', 'deny' : 'false'}) }}";
            options.url = options.url.replace("IdHere", id);
            options.success = function(response){
                $("#popup").html(response.html);
                $("#popup").dialog({
                    width: "500px",
                    title: "Record Details"
                });
            };
            options.error = function(a,b,c){
                $("#popup").html(a.responseText);
                $("#popup").dialog({
                    width: "500px",
                    title: "Error Details"
                });
            };
            $.ajax(options);
        };
        
        $(document).ready(function() {
            $(".approve").on("click", function(){
                var id = $(this).parent().children(".record_id").val();
                var options = [];
                options.url = "{{ path('default', {'controller' : 'Record', 'action' : 'ApproveRecord'}) }}" + "/" + id + "/" + "true";
                options.success = function(response) {
                    if (response.approved == true){
                        $("#" + id + "-approval").html("Approved.");
                    }
                    else {
                        alert("error");
                    }
                }
                options.error = function(a,b,c){
                    $("#popup").html(a.responseText);
                    $("#popup").dialog({
                        width: "500px",
                        title: "Error Details"
                    });
                }
                $.ajax(options);
            });
        });
        
        $(document).ready(function() {
            $(".deny").on("click", function(){
                var id = $(this).parent().children(".record_id").val();
                var options = [];
                options.url = "{{ path('recordpartial', {'id' : 'IdHere', 'isCoordinator' : 'true', 'deny' : 'true'}) }}";
                options.url = options.url.replace("IdHere", id);
                options.success = function(response){
                    $("#popup").html(response.html);
                    $("#popup").dialog({
                        width: "500px",
                        title: "Record Details"
                    });
                };
                options.error = function(a,b,c){
                    $("#popup").html(a.responseText);
                    $("#popup").dialog({
                        width: "500px",
                        title: "Error Details"
                    });
                };
                $.ajax(options);
            });
        });
        
        
        function success(response){
            if (response.approved == true){
                alert("approved");
            }
            else if (response.denied == true){
                alert("denied");
            }
            else {
                alert("error");
            }
        }
        
        $(document).ready(function(){
            $(".email").on("click", function(){
                var id = $(this).val();
                var options = [];
                options.url = "{{ path('recordEmail', {'id' : 'IdHere'}) }}";
                options.url = options.url.replace("IdHere", id);
                options.success = function(response) {
                    if (response.error == "sent"){
                        $("#" + id + "-attachment").html("Email Sent.");
                    }
                    else {
                        alert(response.error);
                    }
                }
                options.error = function(a,b,c){
                    $("#popup").html(a.responseText);
                    $("#popup").dialog({
                        width: "500px",
                        title: "Error Details"
                    });
                }
                $.ajax(options);
            });
        });
        
    </script>
{% endblock %}