{% extends 'MaclayServiceBundle:Profile:profile.html.twig' %}

{% block pagename %}
    Change Password
{% endblock %}

{% form_theme form _self %}
    
{% block form_row %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-3">
                {{form_label(form) }}
            </div>
            <div class="col-sm-3 form-group">
                {{form_widget(form) }}
            </div>
            <div class="col-sm-2 error-text">
                {{ form_errors(form) }}
            </div>
        </div>
        <br />
    {% endspaceless %}
{% endblock %}

{% block usercontent %}
    <div class="row">
        <div class="col-sm-9">
            <p>{{ error|default("Please enter a new password to continue.") }}</p>
            <br />
            <br />
            {{ form(form) }}
        </div>
    </div>

{% endblock %}

