{% extends 'MaclayServiceBundle:Profile:profile.html.twig' %}

{% form_theme form _self %}

{% block pagename %}
    Club Sponsor - Enter New Record For Club Member
{% endblock %}
    
{% block form_row %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-2">
                {{form_label(form) }}
            </div>
            <div class="col-sm-3 form-group">
                {{form_widget(form) }}
            </div>
            <div class="col-sm-5 error-text">
                {{ form_errors(form) }}
            </div>
        </div>
        <br />
    {% endspaceless %}
{% endblock %}   

{% block usercontent %}
    <div id="newRecord" class="row">
        <p>{{ error|default("") }} </p>
        {{ form_start(form) }}
            {{ form_row(form.student, {'label' : 'Select Student'})}}
            {{ form_row(form.dateFrom, {'label' : 'Date From'})}}
            {{ form_row(form.dateTo, {'label' : 'Date To'})}}
            {{ form_row(form.numHours, {'label' : 'Number of Hours'})}}
        {{ form_end(form)}}
    </div>

{% endblock %}
        
{% block endscripts %}
        <script>
            $(document).ready(function(){
                var d = new Date();
                $("#record_dateFrom_year").val(d.getFullYear());
                $("#record_dateFrom_month").val(d.getMonth());
                $("#record_dateFrom_day").val(d.getDay());
                $("#record_dateTo_year").val(d.getFullYear());
                $("#record_dateTo_month").val(d.getMonth());
                $("#record_dateTo_day").val(d.getDay());
            });
        </script>
        
{% endblock %}